
.voilet{
    background-color: #B38BFA;
    border-radius: 50%;
    color: white;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 auto;
    text-align: center;
    line-height: 3.5rem;
    font-size: 1.3em;
    font-weight:550;
    letter-spacing: 0.05em;

}
.pink{
    background-color: #FF79F2;
    border-radius: 50%;
    color: white;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 auto;
    text-align: center;
    line-height: 3.5rem;
    font-size: 1.3em;
    font-weight:550;
    letter-spacing: 0.05em;
   

}
.skyBlue{
    background-color: #43E6FC;
    border-radius: 50%;
    color: white;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 auto;
    text-align: center;
    line-height: 3.5rem;
    font-size: 1.3em;
    font-weight:550;
    letter-spacing: 0.05em;

}
.brown{
    background-color: #F19576;
    border-radius: 50%;
    color: white;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 auto;
    text-align: center;
    line-height: 3.5rem;
    font-size: 1.3em;
    font-weight:550;
    letter-spacing: 0.05em;
    

}
.darkBlue{
    background-color: #0047FF;
    border-radius: 50%;
    color: white;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 auto;
    text-align: center;
    line-height: 3.5rem;
    font-size: 1.3em;
    font-weight:550;
    letter-spacing: 0.05em;

}
.blue{
    background-color: #6691FF;
    border-radius: 50%;
    color: white;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 auto;
    text-align: center;
    line-height: 3.5rem;
    font-size: 1.3em;
    font-weight:550;
    letter-spacing: 0.05em;

}